desktop_version/sample_picture.png
desktop_version/tutorial.mp4
desktop_version/utils.py
desktop_version_copy
experiments
include
Lib
parser
Scripts
share
testing
venv
pyvenv.cfg
to_do.txt
words_to_add.txt
words_to_add_t.txt
.idea
versions.txt
dictation/__pycache__
dictation/
desktop_version/exe_config.json
output/
desktop_version/dictation_process.drawio
